<nav class="navbar mb-6" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="#">タイムライン</a>
        <a class="button is-light" href="#">投稿作成</a>
        <a class="button is-light" href="/auth/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>
