<nav class="navbar mb-6" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/auth/login">Login</a>
        <a class="button is-light" href="/auth/register">SignUp</a>
      </div>
    </div>
  </div>
</nav>
