.wrapper {
  margin: 0 auto;
  width: 600px;
}

.post {
  border: 1px solid #c5bbbb;
  margin-bottom: 16px;
  padding: 16px;
}

.post__title {
  font-size: 20px;
}

.post__user {
  margin: 12px 0 6px;
}
