<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <div class="wrapper">
      <%- include("../partials/header") %>
      <div class="post">
        <h2 class="post__title">投稿タイトル</h2>
        <p class="post__content">コンテンツ内容</p>
        <p class="post__user">投稿者：username</p>
        <div class="like">
          <i class="far fa-heart"></i>
          <i class="fas fa-heart has-text-success"></i>
          <span class="like__number">3</span>
        </div>
        <div class="buttons mt-3">
          <button class="button is-small is-info is-rounded">編集</button>
          <button class="button is-small is-danger is-rounded is-outlined">
            削除
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
